@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    font-family: 'Poppins';
}
.navbar, navbar-expand-lg, navbar-light, bg-light{
    padding: 3em;

}
.navbar-brand{
    font-weight: bold;
    font-size: 1.2em;
}
.nav-item{
    margin: 0, 2em;
}
#navbarNav{
    display: flex;
    place-content: space-between;
}
.hero{
    margin-left: 25%;
    display: flex;
}
.hero h2{
    display: block;
}
.bio{
    display: flex;
}
.bio h1{
    display: block;
}
.bio img{
    left: 25%;
    width: 48%;
}
